{deps_dirs,["deps"]}.
{test_node_name,"test@localhost"}.
{deps,
 [
 {msgpack, ".*",{git, "git://github.com/msgpack/msgpack-erlang.git", "master"}},
  {meck, ".*", {git, "git@github.com:eproxus/meck.git", "master"}},
  {lager, ".*", {git, "git@github.com:basho/lager", {branch, "master"}}},
  {ranch, ".*", {git, "git@github.com:extend/ranch.git", {tag, "master"}}}

 ]}.

{erl_opts, [{parse_transform, lager_transform}]}.
             %% Make sure to set -fPIC when compiling redis	
%{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

%{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.

